# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local uploads (since MongoDB stores them)
uploads/

# Ignore editor configs (optional)
.idea/
.vscode/
